*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.A1{
    width: 100%;
    height: 1340vh;
    padding: 10px;
    background: linear-gradient(to bottom right, black, rgb(17, 17, 61), black);
    display: flex;
    flex-direction: column;
}

.nav-lgdevice{
    display: none;
    
}

.top{
    background: linear-gradient(to bottom right,  rgb(17, 17, 61), black) !important;
    border-bottom: 1px solid rgb(0, 1, 83);
}

.navigation-1items{
    list-style: none;
    margin: 0;
}

.top-links{
    color: white;
    font-size: 16px;
    padding: 10px;
    padding-left: 30px;
    display: block;
}

.top-links:hover{
    background-color: rgb(0, 0, 65);
    border-bottom: 1px grey solid;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sear{
    padding: 5px;
    border: 0;
    border-radius: 40px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 100px;
}

.wlcm-sc{
    width: 100%;
    height: 680px;
    background-image: url(images/Wallpaper\ gaming.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid rgb(14, 0, 39);
}
.box9{
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    top: 30%;
    bottom: 14%;
    left: 10%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgb(45, 39, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: box-anim99 2s ease-out, float-box 2s ease-in-out infinite;
    opacity: 1;
    
}
.introo-small{
    width: 100%;
    height: 8%;
}
.intro-text{
    width: 100%;
    margin-bottom: 15px;
}
.intro-text-title{
    color: white;
    font-size: 35px;
    padding: 15px;
}

p{
    color: white;
    font-size: 18px;
    padding: 10px;
    padding-top: 0;
}


span{
    color: rgb(198, 198, 255);
    font-size: 25px;
}

.intro-img{
    border-radius: 20px;
    width: 100%;
    height: 50%;
    background-image: url(images/img-intro.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: 0px 0px 10px 0px rgb(56, 0, 177);
}
.scrol-bt{
    background-color: rgba(1, 1, 58, 0.514); 
    padding: 10px; 
    padding-left: 30px; 
    padding-right: 30px; 
    border-radius: 50px; 
    text-decoration: none; 
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(56, 0, 177);
}
.scrol-bt:hover{
    color: white;
    text-decoration: none;
}

.carousel-texts{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.carousel-texts-title{
    color: rgb(252, 252, 252);
    font-weight: 500;
}

.carousel-item img{
    height: 250px;
    border-radius: 40px;
    border: 1px solid rgb(36, 36, 36);
    box-shadow:0px 0px 5px 0px rgb(45, 39, 70);

}

.stories-cards{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-cards1{
    width: 90%;
    height: 420px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    position: relative;
    box-shadow:0px 0px 5px 0px rgb(48, 30, 119);
    margin-bottom: 35px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.sc1{
    height: 400px;
}
.sc2{
    height: 400px;
    margin-bottom: 35px;
}
.sc3{
    height: 450px;
}
.stories-cards1:hover{
    border: 1px solid rgb(81, 81, 82);
    box-shadow:0px 0px 20px 0px rgb(20, 20, 20);
    transform: translateY(-8px);

}

.card-image1{
    width: 100%;
    height: 40%;
    background-image: url(images/Silent\ Hill\ F.jpg);
    background-size: cover;
    border-radius: 20px;
}

.infor-card{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 130px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(56, 56, 56);
}

.title-card1{
    color: white; 
    font-size: 30px;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 500;
    
}

i{
    color: white;
}
.review-person{
    width: 100%; 
    height: 60px; 
    display: flex; 
    align-items: center;
}
.readmore{
    padding: 10px;
    background-color: rgb(0, 0, 2);
    border: 0.5px solid gray;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}

.readmore:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
}

.like-dislike-icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 15px;
}

.fa-regular:hover{
    color: blue !important;
}
.card-image2{
    width: 100%;
    height: 40%;
    background-image: url(images/Shinobi_\ Art\ of\ Vengeance\ Coming\ to\ Switch\ 2\ in\ September.jpg);
    background-size: cover;
    border-radius: 20px;
}

.card-image3{
    width: 100%;
    height: 40%;
    background-image: url(images/Shinobi_\ Art\ of\ Vengeance\ Coming\ to\ Switch\ 2\ in\ September.jpg);
    background-size: cover;
    border-radius: 20px;
}
.card-image3{
    width: 100%;
    height: 40%;
    background-image: url(images/Whitethorn\ Games.jpg);
    background-size: cover;
    border-radius: 20px;
}

.card-image4{
    width: 100%;
    height: 40%;
    background-image: url(images/PUBG_BGMI\ BACKGROUND\ FOR\ THUMBNAIL.jpg);
    background-size: cover;
    border-radius: 20px;
}

.view-all-sec{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.game-cards{
    border: 1px solid rgb(88, 88, 88);
    border-radius: 20px;
    width: 90%;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    background-image: url(images/Rules\ of\ survival.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow:0px 0px 20px 0px rgb(36, 36, 36);
    box-shadow: inset 0 -100px 50px rgba(80, 80, 80, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gc1{
    background: url(images/roblox.jpg);
    background-size: cover;
    background-position: center;
}

.gc2{
    background: url(images/Call\ Of\ Duty_\ Black\ Ops\ 2\ \(2012\).jpg);
    background-size: cover;
}

.gc3{
    background: url(images/code\ of\ war.jpg);
    background-size: cover;
    background-position: center;
}
.gc4{
    background: url(images/raid-shadow-legends.jpg);
    background-size: cover;
    background-position: center;
}
/* racing game cards */
.Rc1{
    background: url(images/asphalt-legends.jpg);
    background-size: cover;
    background-position: center;
}

.Rc2{
    background: url(images/froza-horizon.jpg);
    background-size: cover;
    background-position:bottom;
}
.Rc3{
    background: url(images/RIDE-6.jpg);
    background-size: cover;
    background-position:center;
}
.Rc4{
    background: url(images/asphalt-8.jpg);
    background-size: cover;
    background-position:top;
}
.Rc5{
    background: url(images/Drag\ Racing\ Night.jpg);
    background-size: cover;
    background-position:center;
}

.Rc6{
    background: url(images/drift-legends.jpg);
    background-size: cover;
    background-position:center;
}
/* horror games */
.hr1{
    background: url(images/visage.jpg);
    background-size: cover;
    background-position:center;
}

.hr2{
    background: url(images/choo-choo-charles.jpg);
    background-size: cover;
    background-position:center;
}

.hr3{
    background: url(images/poppy-playtime.jpg);
    background-size: cover;
    background-position:top;
}
.hr4{
    background: url(images/Phasmophobia.jpg);
    background-size: cover;
    background-position:bottom;
}
.hr5{
    background: url(images/BATDR.jpg);
    background-size: cover;
    background-position:center;
}
.hr6{
    background: url(images/Fear\ The\ Spotlight\ .jpg);
    background-size: cover;
    background-position:center;
}

.game-card-sec{
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.game-cards:hover{
    box-shadow: inset 0 -140px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    text-decoration: none;
    transform: translateY(-8px);
}

.game-card-details{
    background-color: rgb(17, 0, 104);
    color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    font-size: 15px;
    border-radius: 50px;
    margin-bottom: 5px;
    text-align: center;
}
.game-card-details:hover{
    background-color: rgb(0, 0, 29);
    color: white;
    text-decoration: none;
}

.server-join-card{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sz{
    font-size: 40px;
    margin-right: 5px ;
}
.server-join-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discord-btn{
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(120, 135, 238);
    color: black;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid white;
    margin-top: 0;
}

.discord-btn:hover{
    text-decoration: none;
    color: black;

}

.trust-com{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    margin-top: 20px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: rgb(32, 32, 32);
    flex-grow: 1;
}
.trust-com-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;

}

img{
    width: 70px;
    height: 80px;
}
.bottom-footer{
    width: 100%;
}
.socio-icon{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}
.rights{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon-ft{
    width: 90px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}


@keyframes box-anim9{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }

}
@keyframes float-box{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }


}







